<br>
<div class="container container-about">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-center title-p">SOBRE NÓS</h1>
    </div>
  </div>
<br>
  <div class="row">
    <div class="col-lg-12">
      <p>Somos uma empresa especializada em bloquinhos adesivos desde 2020.</p>
      <p>Dentro do período de pandemia, com o home oficce a todo vapor, percebemos o quanto era necessário investir em organição no meio de trabalho.</p>
      <p>Porém, para ter organização é preciso ter atração por isso, então nada mais justo do que inserir formas diferentes de
        utilizar bloquinhos de papel adesivos no dia a dia, garantindo que nenhuma informação fique de fora e podendo ainda ser classificado por cores ou formas.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 text-center">
      <img  src="../../../../assets/img/57.jpg" width="50%">
    </div>
  </div>
</div>

