<section class="bg-light text-center p-5">
    <div class="container-fluid">
      <div class="row text-muted text-center">
          <div class="col m-4">
            <h1 class="mb-4 title"> CONHEÇA NOSSOS PRODUTOS</h1>

          </div>
      </div>

        <div class="row align-items-center">

          <div class="col-lg-4">
            <div class="card card-1 py-4 my-4 mx-auto">
              <div class="card-body">
                <h5 class="text-uppercase font-weight-bold mb-5"> Marcadores de página </h5>
                <h1 class="text-uppercase price"> R$ 9,99 </h1>
                <div class="list-unstyled">
                    <img src="../../../../assets/img/11.jpg" width="50%"/>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="card card-1 py-4 my-4 mx-auto">
              <div class="card-body">
                <h5 class="text-uppercase font-weight-bold mb-5"> Blocos adesivos </h5>
                <h1 class="text-uppercase price"> R$ 6,99 </h1>
                <div class="list-unstyled">
                    <img src="../../../../assets/img/22.jpg" width="50%"/>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="card card-1 py-4 my-4 mx-auto">
              <div class="card-body">
                <h5 class="text-uppercase font-weight-bold mb-5"> Marcadores de página </h5>
                <h1 class="text-uppercase price"> R$ 8,99 </h1>
                <div class="list-unstyled">
                    <img src="../../../../assets/img/33.webp" width="50%"/>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row align-items-center">

          <div class="col-lg-4">
            <div class="card card-1 py-4 my-4 mx-auto">
              <div class="card-body">
                <h5 class="text-uppercase font-weight-bold mb-5"> Blocos estampados </h5>
                <h1 class="text-uppercase price"> R$ 12,99 </h1>
                <div class="list-unstyled">
                    <img src="../../../../assets/img/44.webp" width="50%"/>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="card card-1 py-4 my-4 mx-auto">
              <div class="card-body">
                <h5 class="text-uppercase font-weight-bold mb-5"> Blocos de Flor </h5>
                <h1 class="text-uppercase price"> R$ 5,99 </h1>
                <div class="list-unstyled">
                    <img src="../../../../assets/img/55.jpg" width="50%"/>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="card card-1 py-4 my-4 mx-auto">
              <div class="card-body">
                <h5 class="text-uppercase font-weight-bold mb-5"> Blocos de Coração </h5>
                <h1 class="text-uppercase price"> R$ 5,99 </h1>
                <div class="list-unstyled">
                    <img src="../../../../assets/img/66.webp" width="50%"/>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </section>
